.safety {
  position: relative;
  padding: 120px 0;

  @media (max-width: $breakpoint1450) {
    padding: 100px 0;
  }

  @media (max-width: $breakpoint992) {
    padding: 80px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 60px 0;
  }

  // .safety__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
  }

  // .safety__top

  &__top {}

  // .safety__lists

  &__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 28px;

    @media (max-width: $breakpoint992) {
      column-gap: 32px;
      row-gap: 32px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 32px;
    }
  }

  // .safety__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .safety__item

  &__item {}

  // .safety__item-label

  &__item-label {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--white);

    @media (max-width: $breakpoint1450) {
      font-size: 30px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 28px;
    }
  }

  // .safety__item-link

  &__item-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--white);
  }

  // .safety__kriptos

  &__kriptos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      position: relative;
      padding-bottom: 320px;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 0;
    }
  }

  // .safety__safety-tokens-1

  &__safety-tokens-1 {
    max-width: 100%;

    @media (max-width: $breakpoint768) {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    @media (max-width: 389px) {
      bottom: -60px;
    }
  }

  // .safety__safety-tokens-2

  &__safety-tokens-2 {
    max-width: 100%;

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .safety__bottom

  &__bottom {}

  // .safety__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 80px;
  }

  // .safety__head-label

  &__head-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
  }

  // .safety__head-title

  &__head-title {
    font-family: var(--font4);
    font-weight: 600;
    font-size: 70px;
    line-height: 120%;
    color: var(--white);

    @media (max-width: $breakpoint1450) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 28px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .safety__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
    row-gap: 44px;

    @media (max-width: $breakpoint992) {
      column-gap: 32px;
      row-gap: 32px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .safety__grid-item

  &__grid-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  // .safety__grid-pic

  &__grid-pic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: 48px;
    height: 48px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;

      border-radius: 100%;
      background: radial-gradient(50% 50% at 50% 50%, rgb(68, 199, 255) 0%, rgb(43, 226, 247) 100%);
      filter: blur(20px);

      @media (max-width: $breakpoint768) {
        width: 60px;
        height: 60px;
      }
    }
  }

  // .safety__grid-text

  &__grid-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: var(--white);

    @media (max-width: $breakpoint1450) {
      font-display: 20px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

  }
}

.border-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='2' viewBox='0 0 1440 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1440 1H8.16584e-06' stroke='url(%23paint0_linear_2724_5365)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2724_5365' x1='1440' y1='1.5' x2='0' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop /%3E%3Cstop offset='1' stop-color='%238DC2FF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}